## 5305-Final Project

In [24]:
import torch 
import pandas as pd
import torch.nn as nn
from torch.utils.data import Dataset, DataLoader
import seaborn as sns 
import matplotlib.pyplot as plt

#### Load the Data

In [14]:
df = pd.read_csv('./Insurance Premium Prediction Dataset.csv')

In [16]:
df.head()

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Premium Amount,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type
0,56.0,Male,99990.0,Married,1.0,Master's,NaN,31.074627,Urban,Comprehensive,NaN,13,320.0,5,308.0,2022-12-10 15:21:39.078837,Poor,Yes,Daily,Condo
1,46.0,Male,2867.0,Single,1.0,Bachelor's,NaN,50.271335,Urban,Comprehensive,NaN,3,694.0,4,517.0,2023-01-31 15:21:39.078837,Good,Yes,Monthly,House
2,32.0,Female,30154.0,Divorced,3.0,Bachelor's,NaN,14.714909,Suburban,Comprehensive,2.0,16,652.0,8,849.0,2023-11-26 15:21:39.078837,Poor,No,Monthly,House
3,60.0,Female,48371.0,Divorced,0.0,PhD,Self-Employed,25.346926,Rural,Comprehensive,1.0,11,330.0,7,927.0,2023-02-27 15:21:39.078837,Poor,No,Rarely,Condo
4,25.0,Female,54174.0,Divorced,0.0,High School,Self-Employed,6.659499,Urban,Comprehensive,NaN,9,NaN,8,303.0,2020-11-25 15:21:39.078837,Poor,No,Rarely,Condo

In [17]:
print(df.isnull().any())

Age                      True
Gender                  False
Annual Income            True
Marital Status           True
Number of Dependents     True
Education Level         False
Occupation               True
Health Score             True
Location                False
Policy Type             False
Previous Claims          True
Vehicle Age             False
Credit Score             True
Insurance Duration      False
Premium Amount           True
Policy Start Date       False
Customer Feedback        True
Smoking Status          False
Exercise Frequency      False
Property Type           False
dtype: bool

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278860 entries, 0 to 278859
Data columns (total 20 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Age                   274175 non-null  float64
 1   Gender                278860 non-null  object
 2   Annual Income         264905 non-null  float64
 3   Marital Status        273841 non-null  object
 4   Number of Dependents  250974 non-null  float64
 5   Education Level       278860 non-null  object
 6   Occupation            197572 non-null  object
 7   Health Score          268263 non-null  float64
 8   Location              278860 non-null  object
 9   Policy Type           278860 non-null  object
 10  Previous Claims       197572 non-null  float64
 11  Vehicle Age           278860 non-null  int64
 12  Credit Score          250974 non-null  float64
 13  Insurance Duration    278860 non-null  int64
 14  Premium Amount        277019 non-null  float64
 15  Policy Start Date     278860 non-null  object
 16  Customer Feedback     260511 non-null  object
 17  Smoking Status        278860 non-null  object
 18  Exercise Frequency    278860 non-null  object
 19  Property Type         278860 non-null  object
dtypes: float64(7), int64(2), object(11)
memory usage: 42.6+ MB

In [23]:
# Summarize the total missing values and their percentage
missing_summary = df.isnull().sum().reset_index()
missing_summary.columns = ['Column', 'Missing Values']
missing_summary['% Missing'] = (missing_summary['Missing Values'] / len(df)) * 100
print(missing_summary)

                  Column  Missing Values  % Missing
0                    Age            4685   1.680055
1                 Gender               0   0.000000
2          Annual Income           13955   5.004303
3         Marital Status            5019   1.799828
4   Number of Dependents           27886  10.000000
5        Education Level               0   0.000000
6             Occupation           81288  29.150111
7           Health Score           10597   3.800115
8               Location               0   0.000000
9            Policy Type               0   0.000000
10       Previous Claims           81288  29.150111
11           Vehicle Age               0   0.000000
12          Credit Score           27886  10.000000
13    Insurance Duration               0   0.000000
14        Premium Amount            1841   0.660188
15     Policy Start Date               0   0.000000
16     Customer Feedback           18349   6.580004
17        Smoking Status               0   0.000000
18    Exercise Frequency               0   0.000000
19         Property Type               0   0.000000